<script id="instanceOverviewTemplate" type="text/html">
<!--
Description: Instance Detail Overview
src: templates/root/nova/instanceDetail/overview.html
-->

<div id="consult_volume" class="help_page">

    <div class="entity_consult">
        <div class="entity_detail">
            <div id="volume_details1" class="active row-fluid">
                <div class="status span4">
                    <h4>Info</h4>
                    <hr class="header_rule">
                    <ul>
                        <li>
                            <strong>Name: </strong>&nbsp;<%= model.get("instanceInfos")[0].instanceName %>
                        </li>
                        <li>
                            <strong>ID: </strong>&nbsp;<%= model.get("instanceInfos")[0].unInstanceId %>
                        </li>
                        <li>
                            <strong>Status: </strong>&nbsp;<%= model.get("instanceInfos")[0].status %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</script>
